<a href="https://colab.research.google.com/github/DevEnriquegd/pr-analisis-estadistico-hogares-brasil/blob/main/Proyecto_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***
# <font color=green size=10>CURSO DE ESTADÍSTICA - PARTE 2</font>
***

## Trabajo de Probabilidades, Muestreo y Estimación

Utilizando los conocimientos adquiridos en nuestra formación, realice las siguientes tareas. Siga el guión propuesto y complete las celdas vacías.

# <font color=green>DATASET DEL PROYECTO</font>
***

### Encuesta Nacional por Muestreo de Hogares - 2015

La <b>Encuesta Nacional por Muestreo de Hogares</b> anualmente investiga, de manera permanente, características generales de la población, educación, trabajo, ingresos y vivienda y otras, con frecuencia variable, de acuerdo a las necesidades de información del país, tales como las características de migración, fecundidad, nupcialidad, salud, seguridad alimentaria, entre otros temas. La recopilación de estas estadísticas constituye, durante los 49 años de realización de la investigación, un importante instrumento para la formulación, validación y evaluación de políticas orientadas al desarrollo socioeconómico y la mejora de las condiciones de vida en Brasil.

### Fuente de los Datos

Instituto Brasileño de Geografía y Estadística (IBGE) Encuesta Nacional por Muestreo de Hogares(PNAD) en el 2015

### Variables utilizadas

> ### Ingreso
> ***

Ingresos mensuales del trabajo principal para personas de 10 años y más.

> ### Edad
> ***

Edad del residente en la fecha de referencia en años.

> ### Altura (elaboración propia)
> ***

Altura del habitante en metros.

> ### UF
> ***
Unidad Federal


|Código|Descripción|
|---|---|
|11|Rondônia|
|12|Acre|
|13|Amazonas|
|14|Roraima|
|15|Pará|
|16|Amapá|
|17|Tocantins|
|21|Maranhão|
|22|Piauí|
|23|Ceará|
|24|Rio Grande do Norte|
|25|Paraíba|
|26|Pernambuco|
|27|Alagoas|
|28|Sergipe|
|29|Bahia|
|31|Minas Gerais|
|32|Espírito Santo|
|33|Rio de Janeiro|
|35|São Paulo|
|41|Paraná|
|42|Santa Catarina|
|43|Rio Grande do Sul|
|50|Mato Grosso do Sul|
|51|Mato Grosso|
|52|Goiás|
|53|Distrito Federal|

> ### Sexo
> ***

|Código|Descripción|
|---|---|
|0|Masculino|
|1|Femenino|

> ### Años de Estudio
> ***

|Código|Descripción|
|---|---|
|1|Sin educación o menos de 1 año|
|2|1 año|
|3|2 años|
|4|3 años|
|5|4 años|
|6|5 años|
|7|6 años|
|8|7 años|
|9|8 años|
|10|9 años|
|11|10 años|
|12|11 años|
|13|12 años|
|14|13 años|
|15|14 años|
|16|15 años o más|
|17|No determinado|
||No aplicable|

> ### Color
> ***

|Código|Descripción|
|---|---|
|0|Indígena|
|2|Blanco|
|4|Negro|
|6|Amarillo|
|8|Pardo|
|9|Sin declaración|

#### <font color='red'>Nota</font>
***
> Se realizaron los siguientes tratamientos sobre los datos originales:
> 1. Se eliminaron los registros en los que **Ingreso** no era válido. (999 999 999 999);
> 2. Se eliminaron los registros en los que **Ingreso** eran missing;
> 3. Solo se consideraron los registros de **Personas de Referencia** de cada hogar (responsable del hogar).

***
***

### Use la celda a continuación para importar las bibliotecas que necesita para realizar las tareas
#### <font color='red'>Sugerencias: pandas, numpy, scipy etc.</font>

In [216]:
import pandas as pd
import numpy as np
from scipy.stats import binom
from scipy.stats import norm

### Importe el dataset y almacenar el contenido en un DataFrame

In [217]:
url = 'https://raw.githubusercontent.com/DevEnriquegd/estadistica-con-python-2/main/datos.csv'

df = pd.read_csv(url, encoding='latin-1')

### Ver el contenido del DataFrame

In [218]:
df.sample(5)

       Ciudad  Sexo  Edad  Color  Años de Estudio  Ingreso    Altura
11540      21     1    40      4                9        0  1.595970
74791      53     1    49      2               16     9000  1.712713
38588      31     0    47      8                1      950  1.747309
49443      35     0    46      8                9      400  1.614543
62067      43     1    30      2               16     3554  1.722733

# <font color='green'>Problema A</font>

Al evaluar nuestro conjunto de datos, es posible verificar que la **proporción de hombres** como jefes de hogar es casi del **70%**. Necesitamos **seleccionar al azar grupos de 10 individuos** para verificar las diferencias entre las ganancias en cada grupo. ¿Cuál es la **probabilidad de seleccionar un grupo que presente la misma proporción de la población**, es decir, seleccionar un grupo que esté **compuesto por 7 hombres y 3 mujeres**?

#### <font color='blue'>Como tarea adicional, verifique la proporción real de hombres y mujeres en nuestro conjunto de datos (vimos cómo hacer esto en nuestro primer curso de estadística).</font>

#### <font color='red'>Compruebe qué tipo de distribución de probabilidad se ajusta a este experimento.</font>

### Solución

## Total de eventos que se desea obtener éxito (k)

In [219]:
k = 7
k

7

## Total de ensayos

In [220]:
n = 10
n

10

## Probabilidad de éxito

In [221]:
p = 0.7

## Solución

In [222]:
n = 10
p = 0.7
k= 7

probabilidad = binom.pmf(k, n, p)
print(f'La probabilidad que de seleccionar un grupo que presente la misama proporción es de: {probabilidad:.2f}')

La probabilidad que de seleccionar un grupo que presente la misama proporción es de: 0.27

# <font color='green'>Problema B</font>

Aún en la pregunta anterior, **¿cuántos grupos de 10 individuos** tendríamos que seleccionar, al azar, para obtener **100 grupos formados por 7 hombres y 3 mujeres**?

#### <font color='red'>Recuerde la forma de promediar una distribución binomial</font>

### Solución

### Media de la distribución binomial

# $$\mu=nXp$$

In [223]:
exitos_deseados = 100

total_grupos_necesarios = exitos_deseados / probabilidad
total_grupos_necesarios = int(total_grupos_necesarios.round())

print(f'Para obtener {exitos_deseados} grupos formados por 7 hombres y 3 mujeres, debemos seleccionar {total_grupos_necesarios} grupos de 10 individuos.')

Para obtener 100 grupos formados por 7 hombres y 3 mujeres, debemos seleccionar 375 grupos de 10 individuos.

# <font color='green'>Problema C</font>

Un cliente nos encargó la realización de un estudio para evaluar **los ingresos de los jefes de hogar en Brasil**. Para eso, necesitamos realizar una nueva recolección de datos, es decir, una nueva investigación de campo. Después de reunirse con el cliente, fue posible enumerar el siguiente conjunto de informaciones:

> A. El resultado de la búsqueda debe estar listo en **2 meses**;

> B. Solo tendremos **R$\$$ 150.000,00** de fondos para realizar la investigación de campo; y
    
> C. Sería interesante tener un **margen de error que no supere el 10% en relación a la media estimada**.

En nuestra experiencia con estudios de este tipo, sabemos que el **costo promedio por entrevistado ronda los R$\$$ 100,00**. Con este conjunto de hechos, evalúe y obtenga el siguiente conjunto de información para transmitir al cliente:

> 1. Para obtener una estimación de los parámetros de la población (ingresos de los jefes de hogar en Brasil), realice un muestreo aleatorio simple en nuestro conjunto de datos. Esta muestra debe contener 200 elementos (use random_state = 101 para asegurarse de que se pueda volver a realizar el mismo experimento). Obtenga la media y la desviación estándar de esta muestra.

> 2. Para el **margen de error** especificado por el cliente, obtenga los **tamaños de muestra** necesarios para garantizar **niveles de confianza del 90%, 95% y 99%**.
    
> 3. Obtenga el **costo de la encuesta** para los tres niveles de confianza.
    
> 4. Para obtener el nivel más alto de confianza viable (dentro del presupuesto disponible), obtenga un **intervalo de confianza para el promedio de la población**.
    
> 5. Suponiendo el **nivel de confianza elegido en el ítem anterior**, ¿qué **margen de error** se puede considerar utilizando todos los recursos proporcionados por el cliente?
    
> 6. Suponiendo un **nivel de confianza del 95%**, **¿cuánto costaría la encuesta al cliente** si se considerara un **margen de error de solo el 5%** en relación con el promedio estimado?

# <font color='blue'>Solución del punto 1</font>

### Selección de una muestra aleatoria simple

#### <font color='red'>Recuerde usar *random_state = 101*</font>

In [224]:
muestra= df['Ingreso'] .sample(n = 200, random_state = 101)
muestra.sample(5)

16875     300
20391     320
40677     700
19075    1100
55431    3000
Name: Ingreso, dtype: int64

In [225]:
media = muestra.mean()
media

np.float64(1964.205)

In [226]:
s = muestra.std()
s

3139.8855167452157

### Datos del problema

In [227]:
media = muestra.mean()
s = muestra.std()
presupuesto = 150000
costo_por_entrevista = 100

# <font color='blue'>Solución del punto 2</font>

### Obtenga el margen de error

#### <font color='red'>Recuerde que el margen de error debe estar en la misma unidad que la variable en estudio (R$)</font>

In [228]:
error_relativo = 0.1

e = media * error_relativo
print(f'El margen de error es de R$ {e:.2f}.')

El margen de error es de R$ 196.42.

### Tamaño de la muestra ($1 - \alpha = 90\%$)

In [229]:
confianza = 0.9

Z = norm.ppf(1 - (1 - confianza) / 2)

In [230]:
muestra_1 = (Z * (s / e)) ** 2
muestra_1 = int(muestra_1.round())
print(f'Para un nivel de confianza del 90%, la muestra debe tener {muestra_1} elementos.')

Para un nivel de confianza del 90%, la muestra debe tener 691 elementos.

### Tamaño de la muestra ($1 - \alpha = 95\%$)

In [231]:
confianza = 0.95

Z = norm.ppf(1 - (1 - confianza) / 2)

In [232]:
muestra_2 = (Z * (s / e)) ** 2
muestra_2 = int(muestra_2.round())
print(f'Para un nivel de confianza del 95%, la muestra debe tener {muestra_2} elementos.')

Para un nivel de confianza del 95%, la muestra debe tener 982 elementos.

### Tamaño de la muestra ($1 - \alpha = 99\%$)

In [233]:
confianza = 0.99

Z = norm.ppf(1 - (1 - confianza) / 2)

In [234]:
muestra_3 = (Z * (s / e)) ** 2
muestra_3 = int(muestra_3.round())
print(f'Para un nivel de confianza del 99%, la muestra debe tener {muestra_3} elementos.')

Para un nivel de confianza del 99%, la muestra debe tener 1695 elementos.

# <font color='blue'>Solución del punto 3</font>

### Costo de investigación para el nivel de confianza de 90%

In [235]:
costo_total = costo_por_entrevista * muestra_1
if costo_total > presupuesto:
  print('No se puede realizar la investigación.')
else:
  print(f'Para un nivel de confianza del 90%, el costo de la investigación es de R$ {costo_total:.2f}')

Para un nivel de confianza del 90%, el costo de la investigación es de R$ 69100.00

### Costo de investigación para el nivel de confianza de 95%

In [236]:
costo_total = costo_por_entrevista * muestra_2
if costo_total > presupuesto:
  print('No se puede realizar la investigación.')
else:
  print(f'Para un nivel de confianza del 95%, el costo de la investigación es de R$ {costo_total:.2f}')

Para un nivel de confianza del 95%, el costo de la investigación es de R$ 98200.00

### Costo de investigación para el nivel de confianza de 99%

In [237]:
costo_total = costo_por_entrevista * muestra_3
if costo_total > presupuesto:
  print(f'No se puede realizar la investigación.')
else:
  print(f'Para un nivel de confianza del 99%, el costo de la investigación es de R$ {costo_total:.2f}')

No se puede realizar la investigación.

# <font color='blue'>Solución del punto 4</font>

In [238]:
media = muestra.mean()
confianza = 0.95
s = muestra.std()
n = muestra.count()
e = s / np.sqrt(muestra_2)

intervalo = norm.interval(
    confidence=confianza,
    loc=media,
    scale=e
)

print(f"El intervalo de confianza del 95% es de: ({intervalo[0]:.2f}, {intervalo[1]:.2f})")

El intervalo de confianza del 95% es de: (1767.82, 2160.59)

# <font color='blue'>Solución del punto 5</font>

In [239]:
n_total_recursos = presupuesto / costo_por_entrevista

confianza = 0.95
z = norm.ppf(1 - (1 - confianza) / 2)
s = muestra.std()

error_absoluto = z * (s / np.sqrt(n_total_recursos))
error_relativo_final = (error_absoluto / media) * 100

print(f"Usando todos los recursos, el margen de error absoluto es de R$ {error_absoluto:.2f}")
print(f"El margen de error relativo es de {error_relativo_final:.2f}%")

Usando todos los recursos, el margen de error absoluto es de R$ 158.90
El margen de error relativo es de 8.09%

# <font color='blue'>Solución del punto 6</font>

In [240]:
error_5_porciento = 0.05
confianza = 0.95
s = muestra.std()

z = norm.ppf(1 - (1 - confianza) / 2)
e_nuevo = media * error_5_porciento
n_nuevo = (z * s / e_nuevo) ** 2
n_nuevo = int(n_nuevo.round())

costo_final = n_nuevo * costo_por_entrevista

print(f"Para un error del 5%, se necesitan {n_nuevo} entrevistados.")
print(f"El costo total de la encuesta sería de R$ {costo_final:,.2f}")

if costo_final > presupuesto:
    print(f"ALERTA: Este escenario excede el presupuesto por R$ {costo_final - presupuesto:,.2f}")

Para un error del 5%, se necesitan 3927 entrevistados.
El costo total de la encuesta sería de R$ 392,700.00
ALERTA: Este escenario excede el presupuesto por R$ 242,700.00